/* GET RID OF UNUSED WEIGHTS... */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* || General styles */

:root {
    --primary-colour: #EC0404;
    --secondary-colour-1: #1076B1;
    --secondary-colour-2: #038703;
    --secondary-colour-2-light: #C2E4BE;
    --off-black: #1B1B1B;
    --off-white: #FAF9F6;
    --white: #FFF;
    --gradient-background-1: linear-gradient(153deg, rgb(255 255 255) 10%, rgba(255, 255, 255, 0) 100%);
    --box-shadow: 0px 4px 40px 0px rgba(219, 219, 219, 0.65), -20px -20px 40px 0px #FFFFFF;
    --max-width: 1400px;
}

html {
    /* scroll-behavior: smooth */
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-weight: 300; */
    color: var(--off-black);
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--secondary-colour-1);
    text-align: center;
    background-color: var(--off-white);

}

.h2-container {
    position: relative;
    z-index: 1;
    display: grid;
    place-items: center;
}

#svg-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#svg-top-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#svg-bottom-mask {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

header {
    position: relative;
    z-index: 1;
    max-width: var(--max-width);
    margin: auto;
}

.navbar {
    /* position: fixed; */
    /* height: 6vh; */
    height: 2.5rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    /* background-color: var(--off-white); */
}

#logo {
    color: var(--primary-colour);
    font-weight: 400;
    font-size: 1.25rem;
}

.landing-page {
    height: calc(100vh - 2.5rem);
    height: calc(100dvh - 2.5rem);
    display: grid;
    grid-template-rows: 50% 50%;
    justify-items: center;
    background-color: var(--off-white);
}

.landing-page-item-container {
    width: 100%;
    display: grid;
    justify-content: center;
}

.landing-page-items {
    color: var(--secondary-colour-1);
    border-radius: 1rem;
    height: 5.25rem;
    width: 14.5rem;
    display: grid;
    place-items: center;
    /* margin: 1.5rem; */
    margin: 10% 0;
    background: var(--gradient-background-1);
    z-index: 1;
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(1px);
}

.landing-item-1 {
    align-self: end;
}

.landing-item-2 {
    /* align-items: start; */
}

/* -- CONTACT PAGE -- */

#contact-page {
    /* position: relative; */
    height: calc(100vh - 2.5rem);
    height: calc(100dvh - 2.5rem);
    /* display: grid; */
    /* grid-template-rows: 50% 50%; */
    /* justify-items: center; */
    background-color: var(--off-white);
    /* z-index: 1; */
}

#contact-form {
    color: var(--secondary-colour-1);
    position: relative;
    max-width: 520px;
    border-radius: 1rem;
    display: flex;
    background: var(--gradient-background-1);
    z-index: 1;
    box-shadow: var(--box-shadow);
    flex-direction: column;
    width: 94%;
    margin: 1rem auto 0 auto;
    padding: 0.6rem;
    backdrop-filter: blur(1px);
}

#contact-form label {
    margin-bottom: 0.2rem;
}

input[type=text],
input[type=email] {
    border: 2px solid var(--secondary-colour-2-light);
    border-radius: 6px;
    margin-bottom: 0.7rem;
    height: 2.7rem;
    font-family: inherit;
    color: var(--off-black);
    padding: 0.6rem;
    font-size: 1rem;
}

textarea {
    border: 2px solid var(--secondary-colour-2-light);
    border-radius: 6px;
    margin-bottom: 0.7rem;
    resize: none;
    height: 16rem;
    font-family: inherit;
    padding: 0.6rem;
    font-size: 1rem;
    color: var(--off-black);
}

input[type=submit] {
    width: 4.9rem;
    height: 2rem;
    align-self: flex-end;
    border-radius: 0.5rem;
    color: var(--secondary-colour-2);
    border: 1px solid var(--secondary-colour-2);
    background-color: var(--white);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
}