/* GET RID OF UNUSED WEIGHTS... */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* || General styles */

:root {
    --primary-colour: #EC0404;
    --secondary-colour-1: #1076B1;
    --secondary-colour-2: #038703;
    --secondary-colour-2-light: #C2E4BE;
    --off-black: #1B1B1B;
    --off-white: #FAF9F6;
    --white: #FFF;
    --gradient-background-1: linear-gradient(153deg, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0) 100%);
    --gradient-background-2: linear-gradient(225deg, rgb(250, 249, 246) 50%, rgba(250, 249, 246, 0) 100%);
    --box-shadow: 0px 4px 40px 0px rgba(219, 219, 219, 0.65), -20px -20px 40px 0px #FFFFFF;
    --max-width: 1400px;
}

html {
    /* scroll-behavior: smooth */
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-weight: 300; */
    color: var(--off-black);
    background-color: var(--off-white);
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--secondary-colour-1);
    text-align: center;
    /* background-color: var(--off-white); */
    /* backdrop-filter: blur(1px); */
}

/* p {
    line-height: 1.5;
} */

/* ********SORT BACKDROP BLUR BUG (BLURRING FORGROUND) */

.h2-container {
    position: relative;
    z-index: 1;
    /* display: grid; */
    /* place-items: center; */
    /* background-color: var(--off-white); */
    margin: 1.5rem 0;
}

#svg-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#svg-top-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#svg-bottom-mask {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

header {
    position: relative;
    z-index: 2;
    max-width: var(--max-width);
    margin: auto;
}

main {
    max-width: var(--max-width);
    margin: auto;
}

.navbar {
    /* position: fixed; */
    height: 2.5rem;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: var(--off-white); */
}

#nav-btn {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
    color: var(--primary-colour);
    font-size: 1.25rem;
}

.nav-hidden {
    display: none;
}

.navbar-links {
    position: absolute;
    top: 2.1rem;
    /* right: 0; */
    padding: 0 0.4rem;
    /* background: #faf9f6; */
    color: var(--off-black);
    /* z-index: 0; */
    backdrop-filter: blur(-1px);
    width: 100%;
    text-align: end;
    height: 100vh;
    height: 100dvh;
    background: var(--gradient-background-2);
    /* backdrop-filter: blur(2px); */
    right: -100%;
    transition: right 0.2s ease;
}

.navbar-links ul {
    list-style-type: none;
    line-height: 2.5;
    /* display: flex; */
    /* gap: 2rem; */
}

.show-nav-links {
    right: 0;
    display: block;
}

.link:hover {
    /* text-decoration: underline; */
    color: var(--secondary-colour-1);
}

#active-link {
    color: var(--primary-colour);
}

/* class name from the Javascript part of the above Navbar solution */
/* #responsiveMenuToggleButton {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 4%;
}

#responsiveMenuToggleButton svg {
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
}

#responsiveMenuToggleButton .openIcon {
    display: block;
}

#responsiveMenuToggleButton .closeIcon {
    display: none;
}

#responsiveMenuToggleButton.open .openIcon {
    display: none;
}

#responsiveMenuToggleButton.open .closeIcon {
    display: block;
} */

#logo {
    color: var(--primary-colour);
    font-weight: 400;
    font-size: 1.25rem;
}

/* -- LANDING PAGE -- */

.landing-page {
    height: calc(100vh - 2.5rem);
    height: calc(100dvh - 2.5rem);
    display: grid;
    grid-template-rows: 50% 50%;
    justify-items: center;
    /* background-color: var(--off-white); */
}

.landing-page-item-container {
    width: 100%;
    display: grid;
    justify-content: center;
    /* position: relative; */
}

/* .landing-link-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    z-index: -1;
} */

.landing-page-items {
    color: var(--secondary-colour-1);
    position: relative;
    border-radius: 1rem;
    height: 5.25rem;
    width: 14.5rem;
    display: grid;
    place-items: center;
    /* margin: 1.5rem; */
    margin: 10% 0;
    background: var(--gradient-background-1);
    z-index: 1;
    box-shadow: var(--box-shadow);
    /* backdrop-filter: blur(1.5px); */
    outline: 1.5px solid var(--white);
    /* filter: blur(0); */
}


.landing-page-text {
    /* position: relative; */
    /* z-index: 2; */
    filter: blur(0px);
}

.landing-item-1 {
    align-self: end;
}

.landing-item-2 {
    /* align-items: start; */
}

.landing-page-items:hover {
    background-color: var(--white);
    color: #0C5783;
    /* color: var(--secondary-colour-2); */
}

/* -- SOFTWARE ENGINEER PAGE -- */

#software-eng-about-section,
#software-eng-projects-section,
#software-eng-links-section {
    /* max-width: var(--max-width); */
}

#software-engineer-about {
    /* margin-bottom: 1rem; */
}

#software-eng-about-section,
#tv-composer-about-section {
    padding: 0 0.4rem;
    margin: 0 auto 0.4rem auto;
    position: relative;
    z-index: 1;
    max-width: 600px;
}

.projects-all-container {
    margin: 1rem 0.4rem 0 0.4rem;
}

.project-container {
    position: relative;
    border-radius: 1rem;
    background: var(--gradient-background-1);
    z-index: 1;
    box-shadow: var(--box-shadow);
    /* backdrop-filter: blur(1.5px); */
    margin: 0 auto 3rem auto;
    outline: 1.5px solid var(--white);
    overflow: hidden;
    max-width: 600px;
}

.project-container:last-of-type {
    margin: 0 auto 1.5rem auto;
}

.project-container img {
    width: 100%;
    height: 100%;
}

/* img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
} */

.project-info {
    padding: 0 0.4rem;
}

.credits-info {
    padding: 0 0.4rem 0.6rem 0.4rem;
}

.description-text {
    /* color: #757575; */
}

.skills-container {
    /* padding: 0.5rem; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
}

span {
    border: 1px solid #cdcdcd;
    /* border-radius: 16px; */
    padding: 1px 6px;
    /* margin: 2px; */
}

.project-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-links {
    border: 1px solid var(--secondary-colour-2);
    border-radius: 8px;
    color: var(--secondary-colour-2);
    background-color: var(--white);
    width: 5rem;
    height: 2.2rem;
    display: grid;
    place-items: center;
    margin: 0 0.5rem;
}

.card-spacer {
    height: 1.4rem;
}

#software-eng-links-section,
#tv-composer-links-section {
    position: relative;
    z-index: 1;
    max-width: 600px;
    margin: auto;
}

.contact-page-link-container {
    padding: 0.4rem;
    text-align: center;
    cursor: pointer;
    color: var(--white);
    background: linear-gradient(133deg, rgba(236, 4, 4, 1) 0%, rgba(16, 118, 177, 1) 40%, rgba(3, 135, 3, 1) 80%, rgba(194, 228, 190, 1) 100%);
    border-radius: 50px;
    margin: auto;
    max-width: 260px;
}

.contact-page-link-container:hover {
    background: linear-gradient(225deg, rgba(236, 4, 4, 1) 0%, rgba(16, 118, 177, 1) 40%, rgba(3, 135, 3, 1) 80%, rgba(194, 228, 190, 1) 100%);
}

#contact-link {
    color: var(--white);
    font-weight: 300;
    font-size: 1.25rem;
}

.software-engineer-links,
.tv-composer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.5rem;
}

.software-engineer-links i,
.tv-composer-links i {
    font-size: 2rem;
    color: var(--secondary-colour-2);
    margin: 1rem;
}

.projects-all-container a:hover {
    color: #016501;
    border: 2px solid #016501;
}

.software-engineer-links i:hover,
.tv-composer-links i:hover {
    color: #016501;
}

/* -- TV COMPOSER PAGE -- */

.credits-channel-text {
    font-weight: 700;
    color: var(--primary-colour);
}

.credits-awards-container {
    font-size: 0.8rem;
    line-height: 1.5;
    margin-top: 0.4rem;
    color: #4c4c4c;
}

/* || Listen section */

#listen {
    padding: 0 0.4rem;
}

#audio-player {
    border-radius: 12px;
    width: 100%;
    max-width: 420px;
    margin: 0 auto 3% auto;
    background: var(--gradient-background-1);
    position: relative;
    z-index: 1;
    box-shadow: var(--box-shadow);
    /* backdrop-filter: blur(1.5px); */
    outline: 1px solid var(--white);
}

.track {
    padding: 0.3rem;
    border-bottom: 1px solid #989898;
    cursor: pointer;
}

.track-title {
    font-size: 1.1rem;
}

.track-album {
    font-size: 0.8rem;
}

.active-track {
    color: #EC0404;
    transition: color 0.2s ease;
}

#controls-btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

#controls-timeline {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

#track-position-slider {
    width: 99%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0.3rem;
    outline: 1px solid #989898;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0;
    border: none;
    padding: 0;
}

#track-position-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: white;
    outline: 2px solid #EC0404;
    cursor: pointer;
    border-radius: 50%;
    z-index: 999;
}

#times {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8rem;
    cursor: default;
}

#track-back-btn,
#track-forward-btn {
    font-size: 1.5rem;
    color: #58b7ef;
}

#track-play-btn {
    font-size: 2.7rem;
    color: #58b7ef;
}

#track-back-btn:hover,
#track-forward-btn:hover,
#track-play-btn:hover {
    color: #1595E0;
    cursor: pointer;
}

/* -- CONTACT PAGE -- */

#contact-page {
    /* position: relative; */
    height: calc(100vh - 2.5rem);
    height: calc(100dvh - 2.5rem);
    /* display: grid; */
    /* grid-template-rows: 50% 50%; */
    /* justify-items: center; */
    /* background-color: var(--off-white); */
    /* z-index: 1; */
}

#contact-form {
    color: var(--secondary-colour-1);
    position: relative;
    max-width: 520px;
    border-radius: 1rem;
    display: flex;
    background: var(--gradient-background-1);
    z-index: 1;
    box-shadow: var(--box-shadow);
    flex-direction: column;
    width: 94%;
    margin: 1rem auto 0 auto;
    padding: 0.6rem;
    /* backdrop-filter: blur(1.5px); */
}

#contact-form label {
    margin-bottom: 0.2rem;
}

input[type=text],
input[type=email] {
    border: 2px solid var(--secondary-colour-2-light);
    border-radius: 6px;
    margin-bottom: 0.7rem;
    height: 2.7rem;
    font-family: inherit;
    color: var(--off-black);
    padding: 0.6rem;
    font-size: 1rem;
}

textarea {
    border: 2px solid var(--secondary-colour-2-light);
    border-radius: 6px;
    margin-bottom: 0.7rem;
    resize: none;
    height: 11rem;
    font-family: inherit;
    padding: 0.6rem;
    font-size: 1rem;
    color: var(--off-black);
}

input[type=submit] {
    width: 4.9rem;
    height: 2rem;
    align-self: flex-end;
    border-radius: 0.5rem;
    color: var(--secondary-colour-2);
    border: 1px solid var(--secondary-colour-2);
    background-color: var(--white);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1024px) {
    /* .projects-all-container {
        display: grid;
        grid-template-columns: 50% 50%;
    } */

    #software-eng-about-section, 
    #tv-composer-about-section {
        max-width: 800px;
    }

    .project-container {
        display: grid;
        grid-template-columns: 50% 50%;
        max-width: 800px;
    }

    .skills-container {
        justify-content: center;
    }

    /* img {
        aspect-ratio: 3 / 2;
        object-fit: cover;
    } */

    .project-info {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .credits-info {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* align-items: center; */
    }
}
/* Navbar media query */
@media screen and (min-width: 1060px) {
    .navbar {
        position: fixed;
        padding: 1.5rem;
    }

    .navbar-links {
        padding: 0 1.5rem;
        background: transparent;
    }
}